.list-title {
    color: blue;
}

.sub-title {
    margin: 20px 0;
    color: green;
}

li {
    margin: 10px 20px 0;
    font-size: 20px;

    a {
        text-decoration: none;
        color: black;
    }
}